<a href="https://colab.research.google.com/github/Supathatkh/data_viz_2022/blob/main/data_viz_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Project กลุ่ม Therapy Python** 

``ทำ Dashboard ของ Data Covid (ตั้งแต่วันที่ 12/01/2020 - 20/03/2022) เล่ามุมมองที่เราเลือกเอง + ใช้ข้อมูลภูมิภาค + ข้อมูลอื่นที่เลือกเอง``
``
เริ่มพรีเซ็นต์ 25 มีค 30 มีค 1 เมษา
``

** ที่มาของข้อมูล **

1.ข้อมูลรายงาน COVID-19 ประจำประเทศไทย  

https://data.go.th/dataset/covid-19-daily ประกอบด้วย 4 ชุดข้อมูลได้แก่

1.1 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2564 ถึงวันที่ 11 สิงหาคม 2564

1.2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564 

1.3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25 ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565 

1.4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

2.ข้อมูลในแต่ละภูมิภาค

3.ข้อมูลปริมาณการใช้งานเน็ตประชารัฐ 

https://data.go.th/dataset/village_internet_usage

## อัพโหลดข้อมูลจาก Drive

**Import data**

In [2]:
import numpy as np

In [3]:
import pandas as pd     # pandas ใช้จัดการข้อมูลที่เป็นตาราง
import os       # os ใช้จัดการกับไฟล์ ว่าอยู่ที่ไหน

In [4]:
from google.colab import drive      # ชี้ไฟล์ที่อยู่ใน google drive เพื่อเชื่อมต่อไฟล์
drive.mount('/content/drive')
path =  '/content/drive/My Drive/Data_viz_project'    # ชี้ dirve ที่เราต้องการ

Mounted at /content/drive

## เตรียมข้อมูลData covid ทั้ง 4 ชุด

ข้อมูลชุดที่ 1  รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 มกราคม 2563 ถึงวันที่ 11 สิงหาคม 2564

In [5]:
data_file_path = os.path.join(path,'confirmed-cases.xlsx')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid1 = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [6]:
display(data_covid1.head(2),data_covid1.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,NaT,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,2020-01-17,NaT,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
816987,816988,2021-08-11,2021-08-10,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [7]:
import datetime

In [8]:
data_t = pd.DataFrame(data_covid1)
data_t['announce_date'] = pd.to_datetime(data_covid1['announce_date'], format = "%d/%m/%Y")
#data_t['year'] = data_t['announce_date'].dt.year
#data_t['month'] = data_t['announce_date'].dt.month

In [9]:
#search.info()

In [10]:
data_covid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816989 entries, 0 to 816988
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   No.                    816989 non-null  int64
 1   announce_date          816989 non-null  datetime64[ns]
 2   Notified date          814194 non-null  datetime64[ns]
 3   sex                    763984 non-null  object
 4   age                    742211 non-null  float64
 5   Unit                   742352 non-null  object
 6   nationality            734913 non-null  object
 7   province_of_isolation  816717 non-null  object
 8   risk                   815895 non-null  object
 9   province_of_onset      719877 non-null  object
 10  district_of_onset      661689 non-null  object
dtypes: datetime64[ns](2), float64(1), int64(1), object(7)
memory usage: 68.6+ MB

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [11]:
data_covid1up = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid1up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

In [12]:
data_covid1up.isnull().any() # พบว่า ฟิวด์ age  มี ค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [13]:
data_covid1[['age']].describe()

                 age
count  742211.000000
mean       35.677040
std        16.567625
min         0.750000
25%        24.000000
50%        34.000000
75%        46.000000
max       440.000000

In [14]:
data_covid_m1 = data_covid1up.fillna(value={'age':data_covid1['age'].mean()})  #ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [15]:
data_covid_m1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10 00:00:00,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10 00:00:00,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10 00:00:00,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10 00:00:00,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10 00:00:00,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

In [16]:
data_covid_m1.isnull().any()  # พบว่าฟิว์ดของ sex ไม่มี missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

ข้อมูลชุดที่ 2 รายงานจำนวนผู้ติดเชื้อ COVID-19 ตั้งแต่วันที่ 12 สิงหาคม 2564 ถึงวันที่ 25 ตุลาคม 2564

In [17]:
data_file_path = os.path.join(path,'confirmed-cases-since-120864.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid2 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [18]:
display(data_covid2.head(2),data_covid2.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [19]:
data_t = pd.DataFrame(data_covid2)
data_t['announce_date'] = pd.to_datetime(data_covid2['announce_date'], format = "%d/%m/%Y")

In [20]:
data_covid2.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [21]:
data_covid2up = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid2up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [22]:
data_covid_m2 = data_covid2up.fillna(value={'age':data_covid2['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [23]:
data_covid_m2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [24]:
data_covid_m2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,2021-08-11,2021-08-10 00:00:00,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,2021-08-11,2021-08-10 00:00:00,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,2021-08-11,2021-08-10 00:00:00,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,2021-08-11,2021-08-10 00:00:00,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,2021-08-11,2021-08-10 00:00:00,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

ข้อมูลชุดที่ 3 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 25ตุลาคม 2564 ถึงวันที่ 27 กุมภาพันธ์ 2565

In [25]:
data_file_path = os.path.join(path,'confirmed-cases-since-271064.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid3 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [26]:
display(data_covid3.head(2),data_covid3.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

In [27]:
data_t = pd.DataFrame(data_covid3)
data_t['announce_date'] = pd.to_datetime(data_covid3['announce_date'], format = "%d/%m/%Y")

In [28]:
data_covid3.isnull().any() #ตรวจสอบค่า Missing

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [29]:
data_covid3up = data_covid3.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid3up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,2021-10-26,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,2021-10-26,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,2021-10-26,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,2021-10-26,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,2021-10-26,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [30]:
data_covid_m3 = data_covid3up.fillna(value={'age':data_covid2['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [31]:
data_covid_m3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11               True
dtype: bool

In [32]:
data_covid_m3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,2021-10-26,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,2021-10-26,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,2021-10-26,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,2021-10-26,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,2021-10-26,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,2022-02-27,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010455,2869613,2022-02-27,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010456,2869614,2022-02-27,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010457,2869615,2022-02-27,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010458,2869616,2022-02-27,26/2/2022,ชาย,35.258596,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

ข้อมูลชุดที่ 4 รายงานจำนวนผู้ติดเชื้อ COVID-19 ประจำวัน ตั้งแต่วันที่ 28 กุมภาพันธ์ 2565 ถึงวันที่ 20 มีนาคม 2565

In [33]:
data_file_path = os.path.join(path,'confirmed-cases-since-280265.csv')   # ดึงไฟล์จากไดร์ฟที่เราต้องการ
data_covid4 = pd.read_csv(data_file_path)   # อ่านไฟล์ csv

In [34]:
display(data_covid4.head(2),data_covid4.tail(2))

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
484351,3353968,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN
484352,3353969,20/3/2022,19/3/2022,ชาย,NaN,NaN,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

In [35]:
data_t = pd.DataFrame(data_covid4)
data_t['announce_date'] = pd.to_datetime(data_covid4['announce_date'], format = "%d/%m/%Y")

In [36]:
data_covid4.isnull().any() #

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

1.ใช้ fillna() เปลี่ยนข้อมูลที่มีค่า NaN เป็นค่าที่ระบุ

In [37]:
data_covid4up = data_covid4.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid4up.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

2.ฟิวด์ age เปลี่ยนค่า Nan ให้เป็นค่าเฉลี่ย ของอายุ

In [38]:
data_covid_m4 = data_covid4up .fillna(value={'age':data_covid4['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [39]:
data_covid_m4.isnull().any() #ไม่มี Missing แล้ว

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [40]:
data_covid_m4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,2022-02-28,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,2022-02-28,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,2022-02-28,27/2/2022,หญิง,40.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,2022-02-28,27/2/2022,ชาย,44.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,2022-02-28,27/2/2022,ชาย,11.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
484348,3353965,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484349,3353966,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484350,3353967,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484351,3353968,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
484352,3353969,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

รวมตาราง Covid ทั้ง 4  ตาราง

In [41]:
data_c1 = pd.concat([data_covid_m1,data_covid_m1],ignore_index=True) # รวมตาราง ที่ 1กับ 2 โดยตารางที่ 2 จะเริ่มนับ No.ต่อจาก ตาราง 1

In [42]:
data_c2 = pd.concat([data_covid_m3,data_covid_m4],ignore_index=True) # รวมตาราง ที่ 3กับ 4 โดยตารางที่ 4 จะเริ่มนับ No.ต่อจาก ตาราง 3

In [43]:
data_covid_all = pd.concat([data_c1,data_c2],ignore_index=True)

In [44]:
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
3128785,3353965,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128786,3353966,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128787,3353967,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128788,3353968,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
3128789,3353969,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

ตัด column Unnamed: 11 ออกเนื่องจากไม่ทราบว่าเป็นข้อมูลเกี่ยวกับอะไรและเป็น column ที่ไม่มีความเกี่ยวข้องกัน

In [45]:
data_covid_all.drop(['Unnamed: 11'], axis=1, inplace=True)
data_covid_all

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,2020-01-12,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,2020-01-17,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,2020-01-22,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,2020-01-22,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,2020-01-24,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
3128785,3353965,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
3128786,3353966,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
3128787,3353967,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
3128788,3353968,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
3128789,3353969,2022-03-20,19/3/2022,ชาย,37.265455,ไม่มีข้อมูล,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

ดูชุดข้อมูล ของ ชื่อจังหวัด

In [46]:
set(data_covid_all['province_of_onset'])

{'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขานุวรลักษณ์บุรี',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉวาง',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปัตตนรี',
 'ปัตตานี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พระพรหม',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สวิสเซอร์แลนด์',
 'สสป.ลาว',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เมือง',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีข้อมูล',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

ทำการแก้ไขข้อมูลการพิมพ์จังหวัด ที่พิมพ์ผิด  ให้ตรงกับรูปแบบที่กำหนด

In [47]:
data_covid_all['province_of_onset'].replace({'USA':'ไม่มีข้อมูล','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                         '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร',
                                         'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต',
                                         'กัมพูชา':'ไม่มีข้อมูล','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์','กาฬสินธ์':'กาฬสินธุ์',
                                         'กำเพงเพชร':'กำแพงเพชร','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร','กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร',
                                         'ขอนแก่น\xa0':'ขอนแก่น','ขอนแก่่น':'ขอนแก่น','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่มีข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                         'จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี','จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','ฉะเชองเทราร':'ฉะเชิงเทรา','ชมพร':'ชุมพร',
                                         'ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชลบุุรี':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ\xa0':'ชัยภูมิ','ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร',
                                         'ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร','ตรััง':'ตรัง','ตราด\xa0':'ตราด','ตากใบ':'นราธิวาส','ต่างจังหวัด':'ไม่มีข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย',
                                         'ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม','นครนาชสีมา':'นครราชสีมา','นครปฐม\xa0':'นครปฐม',
                                         'นครปบม':'นครปฐม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา',
                                         'นครราชสีมา ลพบุรี':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมมราช':'นครศรีธรรมราช',
                                         'นครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศรีฯ':'นครศรีธรรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                         'นครศร๊ะรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช','นครสวรรค':'นครสวรรค์','นครสวรรค์\xa0':'นครสวรรค์','นครสีธรรมราช':'นครศรีธรรมราช',
                                         'นครฯ':'นครศรีธรรมราช','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','นตรนายก':'นครนายก','นตรปฐม':'นครปฐม','นนทบุรี\xa0':'นนทบุรี',
                                         'นนทบุุรี':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส\u200b':'นราธิวาส','นราธฺวาส':'นราธิวาส','นอกเขต':'ไม่มีข้อมูล',
                                         'นาราธิวาส':'นราธิวาส','นาวัง':'หนองบัวลำภู','น่าน/ฉะเชิงเทรา':'น่าน','บางกรวย':'นนทบุรี','บางกะปิ':'กรุงเทพมหานคร','บางนา':'กรุงเทพมหานคร','บางปะอิน':'กรุงเทพมหานคร',
                                         'บางละมุง':'ชลบุรี','บางศรีเมือง':'นนทบุรี','บางเพียง':'สมุทรปราการ','บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์',
                                         'บ้านหลวง':'น่าน','ปจ':'ไม่มีข้อมูล','ปทึมธานี':'ปทุมธานี','ปทุทธานี':'ปทุมธานี','ปทุมฑานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี','ปทุมธาน':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี',
                                         'ปธุมธานี':'ปทุมธานี','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี',
                                         'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                         'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                         'ประจวบฯ':'ประจวบคีรีขันธ์','ประทุมธานี':'ปทุมธานี', 'ประเทศกัมพูชา':'ไม่มีข้อมูล','ปราจีบุรี':'ปราจีนบุรี','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่', 'ปอยเปต':'ไม่มีข้อมูล','ปัตตนรี':'ปัตตานี',
                                         'ปัตตานนี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปัว':'น่าน','ปััตตานี':'ปัตตานี','ปุทมธานี':'ปทุมธานี','ป่าโมก':'อ่างทอง','พม่า':'ไม่มีข้อมูล','พรหมพิราม':'พิษณุโลก','พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                         'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พัทยา':'ชลบุรี','พัทลุุง':'พัทลุง','พัังงา':'พังงา',
                                         'พิษณุโลก\xa0':'พิษณุโลก','พิษณูโลก':'พิษณุโลก','ฟินแลนด์':'ไม่มีข้อมูล','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต','ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็็ต':'ภูเก็ต','ภูเพียง':'น่าน',
                                         'มหาสาคาม':'มหาสารคาม','มาเลเซีย':'ไม่มีข้อมูล','มุกาดหาร':'มุกดาหาร','ยานนาวา':'กรุงเทพมหานคร','ร.จ.จ.นราธิวาส':'นราธิวาส','รอ':'ร้อยเอ็ด','ระบุ':'ไม่มีข้อมูล','ระยอง\xa0':'ระยอง',
                                         'ระอยง':'ระยอง','ราชบบุรี':'ราชบุรี','ราชบุรีี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี','ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ร้องกวาง':'แพร่','ลบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลอง':'แพร่',
                                         'ลาดกระบัง':'กรุงเทพมหานคร','ลาดพร้าว':'กรุงเทพมหานคร','ลาว':'ไม่มีข้อมูล','ลำพูน\u200b':'ลำพูน','ลำพููน':'ลำพูน','ลำลูกกา':'ปทุมธานี','วังชิ้น':'ลำปาง','วังทอง':'พิษณุโลก',
                                         'วิเศษชัยชาญ':'อ่างทอง','ศรีษะสะเกษ':'ศรีสะเกษ','ศรีษะเกษ':'ศรีสะเกษ','ศรีสระเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ','สครสวรรค์':'นครสวรรค์',
                                         'สงขลา\u200b':'สงขลา','สถานที่ทำงาน':'ไม่มีข้อมูล','สพรรณบุรี':'สุพรรณบุรี','สมถทรปราการ':'สมุทรปราการ','สมทรสงคราม':'สมุทรสงคราม','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
                                         'สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่มีข้อมูล','สมุทปราการ':'สมุทรปราการ','สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทรปราการ\xa0':'สมุทรปราการ','สมุทรศาคร':'สมุทรสาคร',
                                         'สมุทรสาคร\xa0':'สมุทรสาคร','สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราปราการ':'สมุทรปราการ',
                                         'สมุทราสาคร':'สมุทรสาคร','สมุทสงคราม':'สมุทรสงคราม','สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสงคราม':'สมุทรสงคราม','สมุุทรสาคร':'สมุทรสาคร',
                                         'สระก้ว':'สระแก้ว','สระบุรี\xa0':'สระบุรี','สรินทร์':'สุรินทร์','สวิสเซอร์แลนด์':'ไม่มีข้อมูล','สอง':'แพร่','สองแคว':'น่าน','สะพานสูง':'กรุงเทพมหานคร',
                                         'สะแก้ว':'สระแก้ว','สัตหีบ':'ชลบุรี','สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่มีข้อมูล','สามุทรสาคร':'สมุทรสาคร','สารคาม':'มหาสารคาม','สารภี':'เชียงใหม่','สิงห์บุรี\xa0':'สิงห์บุรี',
                                         'สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี','สุพรรณบุรั':'สุพรรณบุรี','สุพรรณบุรี\xa0':'สุพรรณบุรี','สุมทรปราการ':'สมุทรปราการ',
                                         'สุมทรสาคร':'สมุทรสาคร','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี','สุราษฎธานี':'สุราษฎร์ธานี',
                                         'สุราษฎร์':'สุราษฎร์ธานี','สุราษฎร์ฯ':'สุราษฎร์ธานี','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุราษธานี':'สุราษฎร์ธานี',
                                         'สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์','สุรินทร์ 32150':'สุรินทร์','สุรินทร์,รีสะเกษ':'สุรินทร์','สุรินทร์\xa0':'สุรินทร์','สุริมทร์':'สุรินทร์',
                                         'สุริะแก้ว':'สระแก้ว','สุวรรณภูมิ':'สมุทรปราการ','สุุพรรณบุรี':'สุพรรณบุรี','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สุุราษฏร์ธานี':'สุราษฎร์ธนี','สุุราษฯ':'สุราษฎร์ธนี','สุุรินทร์':'สุรินทร์',
                                         'สุุุโขทัย':'สุโขทัย','สุโขทับ':'สุโขทัย','สุโขทัย\xa0':'สุโขทัย','สูงเม่น':'แพร่','หนวงบัวลำภู':'หนองบัวลำภู','หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู',
                                         'หนองบัวลำพูน':'หนองบัวลำภู','หนองบัวลําภู':'หนองบัวลำภู','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่','หนอบัวลำภู':'หนองบัวลำภู','หลายจังหวัด':'ไม่มีข้อมูล','หัวหิน':'ประจวบคีรีขันธ์',
                                         'ห้วยขวาง':'กรุงเทพมหานคร','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา','อำนาจเจิญ':'อำนาจเจริญ','อำนาญเจริญ':'อำนาจเจริญ','อำนาเจริญ':'อำนาจเจริญ',
                                         'อิสราเอล':'ไม่มีข้อมูล','อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรธานีี':'อุดรธานี','อุดรราชธานี':'อุดรธานี','อุตรดิตถ์\xa0':'อุตรดิตถ์',
                                         'อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิษถ์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี\xa0':'อุบลราชธานี','อุุครดิตถ์':'อุตรดิตถ์',
                                         'อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','อุุบลราชธานี':'อุบลราชธานี','อ่งทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง','อํานาจเจริญ':'อำนาจเจริญ',
                                         'เชิงเทรา':'ฉะเชิงเทรา','เชียรใหญ่':'นครศรีธรรมราช','เชีียงราย':'เชียงราย','เชีียงใหม่':'เชียงใหม่','เด่นชัย':'แพร่','ฉวาง':'ไม่มีข้อมูล','พระพรหม':'ไม่มีข้อมูล',
                                         'เพขรบุรี':'เพชรบูรณ์','เพขรบูรณื':'เพชรบูรณ์','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์','เพชรบุรี':'เพชรบูรณ์','เพชรบุรึ':'เพชรบูรณ์','เพชรบุุรี':'เพชรบูรณ์','เพชรบุูรณ์':'เพชรบูรณ์','เพชรบูรณ์\xa0':'เพชรบูรณ์',
                                         'เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมือง':'แพร่','เมืองตาก':'ตาก','เมืองน่าน':'น่าน','เมืองปัตตานี':'ปัตตานี','เรือ':'เลย','เลย\xa0':'เลย','เวียงจันทร์':'ไม่มีข้อมูล','เวียงสา':'น่าน','แม่ทะ':'ลำปาง',
                                         'แล้วป่วย':'ไม่มีข้อมูล','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง','ไม่มีข้อมูล':'ไม่มีข้อมูล','ไม่มีชื่อหอพัก':'ไม่มีข้อมูล','ไม่ระบุ':'ไม่มีข้อมูล','สมุทรปรากา':'สมุทรปราการ'}, inplace=True)#

In [48]:
set(data_covid_all['province_of_onset'])# เรียกดูชุดข้อมูลของ province_of_onset

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขัยนาท',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สสป.ลาว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธนี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่มีข้อมูล'}

# ข้อมูลภูมิภาค

ใช้ Dictionary(row oriented) วิธีที่ 1 ของอาจารย์

In [49]:
data_list = [   {'จังหวัด':'อำนาจเจริญ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บึงกาฬ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'บุรีรัมย์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'ชัยภูมิ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                    {'จังหวัด':'กาฬสินธุ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ขอนแก่น','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'เลย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มหาสารคาม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'มุกดาหาร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครพนม','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'นครราชสีมา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองบัวลำภู','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'หนองคาย','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ร้อยเอ็ด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สกลนคร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'ศรีสะเกษ','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'สุรินทร์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุบลราชธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                  {'จังหวัด':'อุดรธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
                {'จังหวัด':'ยโสธร','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออกเฉียงเหนือ','4 ภูมิภาค (การเมือง)':'ตะวันออกเฉียงเหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออกเฉียงเหนือ','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออกเฉียงเหนือ'},
    #แถวที่ 2
                    {'จังหวัด':'เชียงใหม่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':' เชียงราย','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำปาง','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'ลำพูน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แม่ฮ่องสอน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'น่าน','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พะเยา','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'แพร่','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุตรดิตถ์','6 ภูมิภาค (ภูมิศาสตร์)':'เหนือ','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 3
                    {'จังหวัด':'ตาก','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 4
                    {'จังหวัด':'สุโขทัย','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิษณุโลก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'พิจิตร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'กำแพงเพชร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'เพชรบูรณ์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'เหนือ','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 5
                    {'จังหวัด':'นครสวรรค์','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
                  {'จังหวัด':'อุทัยธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'เหนือ','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'เหนือ'},
    #แถวที่ 6
                    {'จังหวัด':'อ่างทอง','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ชัยนาท','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'พระนครศรีอยุธยา','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'กรุงเทพมหานคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ลพบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นครปฐม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'นนทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ปทุมธานี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรปราการ','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสาคร','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สมุทรสงคราม','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สระบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สิงห์บุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'สุพรรณบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 7
                    {'จังหวัด':'นครนายก','6 ภูมิภาค (ภูมิศาสตร์)':'กลาง','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 8
                    {'จังหวัด':'ฉะเชิงเทรา','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'จันทบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ชลบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ปราจีนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ระยอง','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'สระแก้ว','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
                  {'จังหวัด':'ตราด','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันออก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ตะวันออก','5 ภูมิภาค (การท่องเที่ยว)':'ตะวันออก'},
    #แถวที่ 9
                    {'จังหวัด':'กาญจนบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ราชบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'กลาง','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
    #แถวที่ 10
                    {'จังหวัด':'เพชรบุรี','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
                  {'จังหวัด':'ประจวบคีรีขันธ์','6 ภูมิภาค (ภูมิศาสตร์)':'ตะวันตก','4 ภูมิภาค (การเมือง)':'กลาง','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'กลาง'},
     #แถวที่ 11
                    {'จังหวัด':'ชุมพร','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นครศรีธรรมราช','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'นราธิวาส','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ปัตตานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พัทลุง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สงขลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สุราษฎร์ธานี','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ยะลา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
    #แถวที่ 12               
                    {'จังหวัด':'กระบี่','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'พังงา','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ภูเก็ต','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ระนอง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'สตูล','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},
                  {'จังหวัด':'ตรัง','6 ภูมิภาค (ภูมิศาสตร์)':'ใต้','4 ภูมิภาค (การเมือง)':'ใต้','6 ภูมิภาค (อุตุนิยมวิทยา)':'ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','5 ภูมิภาค (การท่องเที่ยว)':'ใต้'},

]

In [50]:
data_Th = pd.DataFrame(data_list) 
data_Th

,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์),4 ภูมิภาค (การเมือง),6 ภูมิภาค (อุตุนิยมวิทยา),5 ภูมิภาค (การท่องเที่ยว)
0,อำนาจเจริญ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
1,บึงกาฬ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
2,บุรีรัมย์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
3,ชัยภูมิ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
4,กาฬสินธุ์,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...
72,พังงา,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
73,ภูเก็ต,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
74,ระนอง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
75,สตูล,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้
76,ตรัง,ใต้,ใต้,ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน,ใต้

In [51]:
data_Th2 = data_Th[['จังหวัด','5 ภูมิภาค (การท่องเที่ยว)']] #เลือกเฉพาะคอลัมป์ที่ต้องการ
data_Th2

       จังหวัด 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ        ตะวันออกเฉียงเหนือ
1       บึงกาฬ        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์        ตะวันออกเฉียงเหนือ
..         ...                       ...
72       พังงา                       ใต้
73      ภูเก็ต                       ใต้
74       ระนอง                       ใต้
75        สตูล                       ใต้
76        ตรัง                       ใต้

[77 rows x 2 columns]

## **ทำการรวมตารางข้อมูลรายงาน COVID-19 ประจำประเทศไทย กับ ตารางข้อมูลภูมิภาค** 

`` โดยเลือกเอาเฉพาะข้อมูลที่สนใจ``

In [52]:
Table1_data = data_covid_all[['No.','sex','age','Unit','nationality']] #ตารางแรกเลือกเอาเฉพาะฟิวด์ No.','sex','age',Unit','nationality 
Table1_data.head() #ดูแถวด้านบน 5 แถวแรก

   No.   sex   age Unit nationality
0    1  หญิง  61.0   ปี       China
1    2  หญิง  74.0   ปี       China
2    3  หญิง  73.0   ปี    Thailand
3    4   ชาย  68.0   ปี       China
4    5  หญิง  66.0   ปี       China

In [53]:
Table2_data = data_covid_all[['No.','announce_date','province_of_onset','risk']] #ตารางสองเลือกเอาเฉพาะฟิวด์ No.','announce_date','year','month','province_of_onset','risk
Table2_data.tail() #ดูแถวด้านล่าง 5 แถวแรก

             No. announce_date province_of_onset              risk
3128785  3353965    2022-03-20       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128786  3353966    2022-03-20       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128787  3353967    2022-03-20       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128788  3353968    2022-03-20       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ
3128789  3353969    2022-03-20       ไม่มีข้อมูล  ทัณฑสถาน/เรือนจำ

In [54]:
Table3_data = Table1_data.merge(Table2_data) # นำสองตารางแรกมารวมกันด้วยคำสั่ง merge โดยใช้ฟิวด์No.นำมาเชื่อมกัน
Table3_data.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk
0,1,หญิง,61.0,ปี,China,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
1,1,หญิง,61.0,ปี,China,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
2,1,หญิง,61.0,ปี,China,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
3,1,หญิง,61.0,ปี,China,2020-01-12,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
4,2,หญิง,74.0,ปี,China,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
5,2,หญิง,74.0,ปี,China,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
6,2,หญิง,74.0,ปี,China,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
7,2,หญิง,74.0,ปี,China,2020-01-17,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ
8,3,หญิง,73.0,ปี,Thailand,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ
9,3,หญิง,73.0,ปี,Thailand,2020-01-22,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ

In [55]:
data_cl = Table3_data.merge(data_Th2,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')
data_cl

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...
4200027,3350552.0,หญิง,28.0,ปี,Thailand,2022-03-20,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้
4200028,3350553.0,หญิง,53.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200029,3350554.0,หญิง,62.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200030,3350555.0,หญิง,48.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200031,3350556.0,ชาย,50.0,ปี,Thailand,2022-03-20,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้

ขั้นตอนต่อมาคือ ตรวจดูชุดข้อมูล ในแต่ละฟิวด์ ว่ามีข้อมูลที่ผิดปกติหรือไม่

In [56]:
data_cl.isnull().any()

No.                           True
sex                           True
age                           True
Unit                          True
nationality                   True
announce_date                 True
province_of_onset             True
risk                          True
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

In [57]:
data_cl2 = data_cl.dropna() #ลบแถวที่ Missing

In [58]:
data_cl2

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...
4200027,3350552.0,หญิง,28.0,ปี,Thailand,2022-03-20,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้
4200028,3350553.0,หญิง,53.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200029,3350554.0,หญิง,62.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200030,3350555.0,หญิง,48.0,ปี,Thailand,2022-03-20,ตรัง,อื่นๆ,ตรัง,ใต้
4200031,3350556.0,ชาย,50.0,ปี,Thailand,2022-03-20,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตรัง,ใต้

In [59]:
before = 4200032
after = 4200030
print(f'before = {before} \nafter = {after}\n which is {((before-after)/before)*100}') #พบว่า เปอร์เซ็น missing ที่ dropna = 4.7618684810020496e-05 ซึ่งมีค่าน้อยมากๆ

before = 4200032
after = 4200030
 which is 4.7618684810020496e-05

In [60]:
data_cl2.isnull().any() # ไม่พบค่า True แล้ว

No.                          False
sex                          False
age                          False
Unit                         False
nationality                  False
announce_date                False
province_of_onset            False
risk                         False
จังหวัด                      False
5 ภูมิภาค (การท่องเที่ยว)    False
dtype: bool

**ตรวจดูชุดข้อมูลในแต่ละฟิวด์**

In [61]:
 set(data_cl2['Unit'])

{' วัน', ' เดือน', 'ปี', 'วัน', 'เดือน', 'ไม่มีข้อมูล'}

In [62]:
 set(data_cl2['sex']) #เรียกดูชุดข้อมูลของ ฟิวด์ เพศ สังเกตได้ว่า ไม่ได้มีแค่ ชาย-หญิง

{'ช', 'ชาย', 'ญ', 'นาย', 'ร.ต.ท.', 'หญิง', 'หณิง', 'หห', 'ไม่มีข้อมูล'}

In [63]:
data_cl2.replace({'ปี':'ปี', 'เดือน':'ปี', 'วัน':'ปี', ' เดือน':'ปี', ' วัน':'ปี'},inplace=True) #แทนที่ด้วยค่าที่เหมาะสม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [64]:
data_cl2.replace({'ชาย':'ชาย', 'หญิง':'หญิง','นาย':'ชาย', 'ร.ต.ท.':'ชาย',
       'ช':'ชาย', 'ญ':'หญิง', 'หณิง':'หญิง', 'หห':'ไม่ระบุ'},inplace=True) #แทนที่ด้วยค่าที่เหมาะสม

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [65]:
data_cl2.head(10)

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
0,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,973.0,ชาย,48.0,ปี,Thailand,2020-03-26,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
5,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
6,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
7,1864.0,หญิง,46.0,ปี,Thailand,2020-04-02,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
8,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
9,6493.0,หญิง,37.0,ปี,Thailand,2020-12-30,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ

## ใช้ข้อมูลตั้งแต่วันที่ 1 มกราคม 2564 ถึง 31 มกราคม 2564

In [66]:
data_cl3 = data_cl2[(data_cl2['announce_date']>='2021-01-01') & (data_cl2['announce_date']<='2021-01-31')]
data_cl3

,No.,sex,age,Unit,nationality,announce_date,province_of_onset,risk,จังหวัด,5 ภูมิภาค (การท่องเที่ยว)
12,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
13,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
14,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
15,7390.0,หญิง,26.0,ปี,Laos,2021-01-03,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
9796,9658.0,หญิง,42.0,ปี,Thailand,2021-01-08,บุรีรัมย์,Cluster บ่อนพัทยา/ชลบุรี,บุรีรัมย์,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...
4173868,11707.0,ชาย,33.0,ปี,Burma,2021-01-17,ตรัง,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,ตรัง,ใต้
4173869,12415.0,หญิง,16.0,ปี,Thailand,2021-01-18,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตรัง,ใต้
4173870,12415.0,หญิง,16.0,ปี,Thailand,2021-01-18,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตรัง,ใต้
4173871,12415.0,หญิง,16.0,ปี,Thailand,2021-01-18,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตรัง,ใต้
4173872,12415.0,หญิง,16.0,ปี,Thailand,2021-01-18,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตรัง,ใต้

## เตรียมข้อมูลสำหรับทำ Dashbaord

จะเป็นข้อมูลโควิดที่แบ่งตามละจังหวัด

In [67]:
list_of_province = data_cl3.groupby(['จังหวัด']).count().reset_index().iloc[:,:2] ## หาจำนวนผู้ติดเชื้อโควิค-19 แบ่งตามจังหวัด
list_of_province

            จังหวัด    No.
0     กรุงเทพมหานคร   3260
1         กาญจนบุรี     28
2           ขอนแก่น     24
3          จันทบุรี    496
4        ฉะเชิงเทรา     56
5            ชลบุรี   2064
6            ชัยนาท      8
7           ชัยภูมิ     16
8              ตรัง     20
9              ตราด     92
10              ตาก    348
11          นครนายก      4
12           นครปฐม    100
13           นครพนม      8
14       นครราชสีมา     12
15    นครศรีธรรมราช      8
16        นครสวรรค์      8
17          นนทบุรี    500
18         นราธิวาส     32
19             น่าน      4
20        บุรีรัมย์      4
21         ปทุมธานี    348
22       ปราจีนบุรี     28
23          ปัตตานี      4
24  พระนครศรีอยุธยา    132
25           พัทลุง     12
26           พิจิตร     20
27         พิษณุโลก      4
28        มหาสารคาม     48
29             ยะลา     24
30            ระยอง   1076
31          ราชบุรี     92
32         ร้อยเอ็ด      8
33           ลพบุรี     88
34            ลำปาง      8
35            ลำพูน      8
36            สงขลา     32
37             สตูล      8
38      สมุทรปราการ   1088
39      สมุทรสงคราม    160
40        สมุทรสาคร  29640
41          สระบุรี      4
42          สระแก้ว      8
43        สิงห์บุรี     68
44       สุพรรณบุรี     68
45     สุราษฎร์ธานี     36
46         สุรินทร์     20
47          หนองคาย      4
48      หนองบัวลำภู      8
49       อำนาจเจริญ      4
50         อุดรธานี      4
51        อุตรดิตถ์      4
52      อุบลราชธานี      4
53          อ่างทอง    440
54        เชียงใหม่     80
55        เพชรบูรณ์     52
56              เลย     28

In [68]:
list_of_province.to_csv(os.path.join(path,'covid_province.csv'))

# ข้อมูลชุดที่ 3  คือ ข้อมูลปริมาณปริมาณการใช้งานเน็ตประชารัฐ

In [69]:
data_file_path = os.path.join(path,'usage_64_jan.xlsx')   # ข้อมูลปริมาณปริมาณการใช้งานเน็ตประชารัฐ เดือนมกราคม 2564
data_e = pd.read_excel(data_file_path)   # อ่านไฟล์ excel

In [70]:
data_e

,ID,YEAR,MONTH,CIRCUIT_NO,APP_CODE,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,AP_NAME,IP_ADDRESS,UPLOAD,DOWNLOAD,NUM_USERS,NUM_DEVICES
0,1.0,2564.0,มกราคม,7561d9000,SR664610,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,KBI-SR664610,172.18.168.2,7549.56,204489.39,1179.0,168.0
1,2.0,2564.0,มกราคม,4485d9000,SR711371,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711371,172.16.140.2,11403.62,142320.11,684.0,79.0
2,3.0,2564.0,มกราคม,4485d9001,SR711374,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,CPM-SR711374,172.16.140.10,1304.09,15968.95,371.0,78.0
3,4.0,2564.0,มกราคม,4486d9000,SR711628,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711628,172.16.140.50,1134.75,22420.8,264.0,112.0
4,5.0,2564.0,มกราคม,4486d9001,SR711630,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,CPM-SR711630,172.16.140.58,2805.44,43549.48,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24695,24696.0,2564.0,มกราคม,4531d9103,SR740891,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR740891,172.17.250.10,19683.82,296606.3,1322.0,58.0
24696,24697.0,2564.0,มกราคม,4531d9077,SR705346,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705346,172.17.249.218,13318.0,137038.7,920.0,87.0
24697,24698.0,2564.0,มกราคม,4531d9078,SR705347,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705347,172.17.249.226,24436.22,426654.02,2099.0,136.0
24698,24699.0,2564.0,มกราคม,4531d9079,SR705349,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705349,172.17.249.234,15388.73,319753.02,2880.0,78.0
24699,24700.0,2564.0,มกราคม,4531d9081,SR705352,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,UBN3-SR705352,172.17.249.242,5362.73,119498.86,1596.0,74.0

In [71]:
data_e.isnull().any()

ID             False
YEAR           False
MONTH          False
CIRCUIT_NO     False
APP_CODE       False
REGION         False
VILLAGE        False
SUBDISTRICT    False
DISTRICT       False
PROVINCE       False
AP_NAME        False
IP_ADDRESS     False
UPLOAD         False
DOWNLOAD       False
NUM_USERS      False
NUM_DEVICES    False
dtype: bool

In [72]:
data_e2 = data_e[['YEAR','MONTH','REGION','VILLAGE','SUBDISTRICT','DISTRICT','PROVINCE','NUM_USERS','NUM_DEVICES']]
data_e2

,YEAR,MONTH,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,NUM_USERS,NUM_DEVICES
0,2564.0,มกราคม,ภ.4,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,1179.0,168.0
1,2564.0,มกราคม,ภ.2,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,684.0,79.0
2,2564.0,มกราคม,ภ.2,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,371.0,78.0
3,2564.0,มกราคม,ภ.2,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,264.0,112.0
4,2564.0,มกราคม,ภ.2,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,1025.0,343.0
...,...,...,...,...,...,...,...,...,...
24695,2564.0,มกราคม,ภ.2,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,1322.0,58.0
24696,2564.0,มกราคม,ภ.2,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,920.0,87.0
24697,2564.0,มกราคม,ภ.2,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2099.0,136.0
24698,2564.0,มกราคม,ภ.2,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2880.0,78.0
24699,2564.0,มกราคม,ภ.2,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,1596.0,74.0

In [73]:
set(data_e2['REGION'])

{'น.2', 'น.3', 'น.4', 'ภ.1', 'ภ.2', 'ภ.3', 'ภ.4', 'ภ.5'}

In [74]:
data_e2.replace({'น.2':'กลาง', 'น.3':'กลาง', 'น.4':'กลาง', 'ภ.1':'กลาง', 'ภ.2':'ตะวันออกเฉียงเหนือ', 'ภ.3':'เหนือ','ภ.4':'ใต้','ภ.5':'ตะวันออก'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5244: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [75]:
set(data_e2['PROVINCE'])

{'กระบี่',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [76]:
data_e2

,YEAR,MONTH,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,NUM_USERS,NUM_DEVICES
0,2564.0,มกราคม,ใต้,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,1179.0,168.0
1,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,684.0,79.0
2,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,371.0,78.0
3,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,264.0,112.0
4,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,1025.0,343.0
...,...,...,...,...,...,...,...,...,...
24695,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,1322.0,58.0
24696,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,920.0,87.0
24697,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2099.0,136.0
24698,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2880.0,78.0
24699,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,1596.0,74.0

# รวมข้อมูล

In [77]:
data_12345 = list_of_province.merge(data_e2,how='right',left_on = 'จังหวัด',right_on ='PROVINCE')
data_12345

,จังหวัด,No.,YEAR,MONTH,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,NUM_USERS,NUM_DEVICES
0,NaN,NaN,2564.0,มกราคม,ใต้,หมู่ 2 คลองหมาก,เกาะลันตาน้อย,เกาะลันตา,กระบี่,1179.0,168.0
1,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,684.0,79.0
2,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,371.0,78.0
3,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,264.0,112.0
4,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,1025.0,343.0
...,...,...,...,...,...,...,...,...,...,...,...
24695,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,1322.0,58.0
24696,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,920.0,87.0
24697,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2099.0,136.0
24698,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2880.0,78.0
24699,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,1596.0,74.0

In [78]:
data_12345.isnull().any()

จังหวัด         True
No.             True
YEAR           False
MONTH          False
REGION         False
VILLAGE        False
SUBDISTRICT    False
DISTRICT       False
PROVINCE       False
NUM_USERS      False
NUM_DEVICES    False
dtype: bool

In [79]:
data_12345a = data_12345.dropna()
data_12345a.isnull().any()

จังหวัด        False
No.            False
YEAR           False
MONTH          False
REGION         False
VILLAGE        False
SUBDISTRICT    False
DISTRICT       False
PROVINCE       False
NUM_USERS      False
NUM_DEVICES    False
dtype: bool

In [80]:
data_12345a

,จังหวัด,No.,YEAR,MONTH,REGION,VILLAGE,SUBDISTRICT,DISTRICT,PROVINCE,NUM_USERS,NUM_DEVICES
1,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 13 บ้านมะเกลือ,บ้านกอก,จัตุรัส,ชัยภูมิ,684.0,79.0
2,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 บ้านโนนทอง,บ้านกอก,จัตุรัส,ชัยภูมิ,371.0,78.0
3,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 1 เพชร,บ้านเพชร,ภูเขียว,ชัยภูมิ,264.0,112.0
4,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 8 เพชรใต้,บ้านเพชร,ภูเขียว,ชัยภูมิ,1025.0,343.0
5,ชัยภูมิ,16.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 9 กุดตูม,บ้านเพชร,ภูเขียว,ชัยภูมิ,612.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...
24695,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 3 แดง,แพงใหญ่,เหล่าเสือโก้ก,อุบลราชธานี,1322.0,58.0
24696,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 7 รังแร้ง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,920.0,87.0
24697,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 9 ดอนกลอย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2099.0,136.0
24698,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 12 โชคชัย,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,2880.0,78.0
24699,อุบลราชธานี,4.0,2564.0,มกราคม,ตะวันออกเฉียงเหนือ,หมู่ 17 นากลาง,โพนเมือง,เหล่าเสือโก้ก,อุบลราชธานี,1596.0,74.0

In [81]:
set(data_12345a['PROVINCE'])

{'กาญจนบุรี',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นราธิวาส',
 'น่าน',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'มหาสารคาม',
 'ยะลา',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงใหม่',
 'เพชรบูรณ์',
 'เลย'}

In [82]:
data_12345a.to_csv(os.path.join(path,'covid_try2.csv'))