<a href="https://colab.research.google.com/github/Supathatkh/data_viz_2022/blob/main/FinalDatavizz_example_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ติงตั้ง Library และ Import ข้อมูล

In [ ]:
import pandas as pd
import os

In [ ]:
from google.colab import drive #เชื่อมต่อ colab เข้ากับไดร์ฟในข้อมูล
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
path = '/content/drive/My Drive/Datavizz_final' #ชี้ไฟล์ในไดร์ฟ

In [ ]:
data_alldb = os.path.join(path,'alldb.csv') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_alldb)

/content/drive/My Drive/Datavizz_final/alldb.csv

In [ ]:
alldb = pd.read_csv(data_alldb)  # pd.read_csv เป็นการอ่านข้อมูล แล้วตั้งชื่อตัวแปรที่เก็บไว้ว่า data_covid2
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [ ]:
data_hospital = os.path.join(path,'hospital_list.xlsx') #เอาพาร์ทที่อยู่ในไฟล์มาเชื่อมกับColab
print(data_hospital)

/content/drive/My Drive/Datavizz_final/hospital_list.xlsx

In [ ]:
hospital = pd.read_excel(data_hospital)  # pd.read_csv เป็นการอ่านข้อมูล 
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

# Cleaning Data

## ตรวจสอบข้อมูล

In [ ]:
alldb_interest  = alldb[['user','RowKey','date','ov','phone','site','time','urine','PartitionKey','title','age']] #เลือกเฉพาะคอลัมที่สนใจ
alldb_interest

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,"iPhone13,4",01234,NaN,NaN,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed
40033,NaN,bbuogxulur.png,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,เสรี,data is not completed,data is not completed
40034,NaN,zttpqogiso.png,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),เสรี,data is not completed,data is not completed

In [ ]:
alldb_interest.info() #ตรวจสอบข้อมูล

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40035 entries, 0 to 40034
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          39273 non-null  object
 1   RowKey        40034 non-null  object
 2   date          39481 non-null  object
 3   ov            39671 non-null  object
 4   phone         40032 non-null  object
 5   site          39936 non-null  object
 6   time          39478 non-null  object
 7   urine         39782 non-null  object
 8   PartitionKey  39850 non-null  object
 9   title         39591 non-null  object
 10  age           39493 non-null  object
dtypes: object(11)
memory usage: 3.4+ MB

In [ ]:
alldb_interest.isnull().sum()

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

##แก้ค่า Missing และเปลี่ยน type ของข้อมูล

### คอลัม User

In [ ]:
alldb_interest= alldb_interest[(alldb_interest['user'].astype(str).str.isdigit()) & (alldb_interest['user'].str.len() == 5)] 
alldb_interest

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [ ]:
alldb_interest['user'] = pd.to_numeric(alldb_interest['user'], errors='coerce' )

In [ ]:
alldb_interest['user'] = alldb_interest['user'].astype('Int64')

In [ ]:
##set(alldb_interest['user'])

In [ ]:
alldb_interest[['user']] = alldb_interest[['user']].fillna(value ={ 'user' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

### คอลัม RowKey

In [ ]:
alldb_interest[['RowKey']] = alldb_interest[['RowKey']].fillna(value ={ 'RowKey' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

### คอลัม date

In [ ]:
alldb_interest['date']

1        2022-02-24
5        2022-02-25
7        2022-02-24
11       2022-02-25
12       2022-02-27
            ...
39813    2022-03-10
39814    2022-03-10
39815    2022-03-10
39816    2022-03-10
40017           NaN
Name: date, Length: 38508, dtype: object

In [ ]:
alldb_interest['date'] = pd.to_datetime(alldb_interest['date'],format='%Y-%m-%d')

In [ ]:
alldb_interest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38508 entries, 1 to 40017
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   user          38508 non-null  Int64
 1   RowKey        38508 non-null  object
 2   date          38206 non-null  datetime64[ns]
 3   ov            38287 non-null  object
 4   phone         38508 non-null  object
 5   site          38506 non-null  object
 6   time          38205 non-null  object
 7   urine         38382 non-null  object
 8   PartitionKey  38483 non-null  object
 9   title         38095 non-null  object
 10  age           37997 non-null  object
dtypes: Int64(1), datetime64[ns](1), object(9)
memory usage: 3.6+ MB

In [ ]:
alldb_interest[['date']] = alldb_interest[['date']].fillna(value ={ 'date' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

### คอลัม phone

In [ ]:
alldb_interest[['phone']] = alldb_interest[['phone']].fillna(value ={ 'phone' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

### คอลัม site

In [ ]:
alldb_interest= alldb_interest[(alldb_interest['site'].astype(str).str.isdigit()) & (alldb_interest['site'].str.len() == 5)] 
alldb_interest

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,4857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,8777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,4857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24 00:00:00,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,8777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25 00:00:00,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27 00:00:00,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [ ]:
alldb_interest['site'] = pd.to_numeric(alldb_interest['site'], errors='coerce' )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_interest['site'] = alldb_interest['site'].astype('Int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_interest[['site']] = alldb_interest[['site']].fillna(value ={ 'site' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

### คอลัม time

In [ ]:
##alldb_interest['time']

In [ ]:
alldb_interest['time'] = pd.to_datetime(alldb_interest['time'],format='%H-%M-%S',errors='ignore')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### คอลัม urine

In [ ]:
alldb_interest[['urine']] = alldb_interest[['urine']].fillna(value ={ 'urine' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

### คอลัม ov

In [ ]:
##alldb_interest['ov']

In [ ]:
alldb_interest['ov'] = pd.to_numeric(alldb_interest['ov'], errors='coerce' )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_interest['ov'] = alldb_interest['ov'].astype('Int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

### คอลัม PartitionKey

In [ ]:
alldb_interest= alldb_interest[(alldb_interest['PartitionKey'].astype(str).str.isdigit()) & (alldb_interest['PartitionKey'].str.len() == 5)] 
alldb_interest

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [ ]:
alldb_interest['PartitionKey'] = pd.to_numeric(alldb_interest['PartitionKey'], errors='coerce' )

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_interest['PartitionKey'] = alldb_interest['PartitionKey'].astype('Int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
alldb_interest[['PartitionKey']] = alldb_interest[['PartitionKey']].fillna(value ={ 'PartitionKey' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

#### คอลัมน์ title

In [ ]:
alldb_interest[['title']] = alldb_interest[['title']].fillna(value ={ 'title' : 'ไม่ระบุ'}) #แทนค่าว่างด้วยคำว่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [ ]:
set(alldb_interest['title']) # ดูว่าข้อมูลมีค่าอะไรอยู่บ้าง พบว่าสามารถบ่บอกถึงเพศได้

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง',
 'ไม่ระบุ'}

In [ ]:
alldb_interest['title'].replace({
                            'Mrs':'นางสาว',
                            'data is not completed':'ไม่ระบุ',
                            'okp':'นาย',
                            'ด.ต.':'ด็อกเตอร์',
                            'น':'นาย',
                            'น.ส':'นางสาว',
                            'น.ส ':'นางสาว',
                            'น.ส.':'นางสาว',
                            'นส':'นางสาว',
                            'นส.':'นางสาว',
                            'นส. ':'นางสาว',
                            'นาง':'นางสาว',
                            'นาง ':'นางสาว',
                            'นาง.':'นางสาว',
                            'นางl':'นางสาว',
                            'นาน':'นาย',
                            'นาบ':'นาย',
                            'นาว':'นาย',
                            'พจอ.':'ไม่ระบุ',
                            'นาวสาว':'นางสาว',
                            'นา่ง':'นางสาว',
                            'น่าย':'นาย',
                            'ืนาง':'หญิง',},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [ ]:
##set(alldb_interest['title'])

#### คอลัม age

In [ ]:
alldb_interest['age'] = pd.to_numeric(alldb_interest['age'], errors='coerce' )     # เปลี่ยน tpye ข้อมูล  errors='coerce' การแยกวิเคราะห์ที่ไม่ถูกต้องจะถูกตั้งค่าเป็น NaN
alldb_interest

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47.0
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นางสาว,41.0
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นางสาว,55.0
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66.0
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN

In [ ]:
alldb_interest[(alldb_interest['age']>0)&(alldb_interest['age']<=100)].mean()  #เรียกดูค่าเฉลี่ยของอายุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

user            47044.546423
ov                  0.916631
site             6134.126279
PartitionKey      568.025161
age                53.908476
dtype: float64

In [ ]:
alldb_interest=alldb_interest.fillna(value ={ 'age' : 53.902041})  ## นำค่าเฉลี่ยมาแทนค่าใน NaN
alldb_interest

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นางสาว,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นางสาว,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [ ]:
set(alldb_interest['age']) #ตรวจสอบอายุ

{-5789.0,
 -5441.0,
 -233.0,
 -37.0,
 -32.0,
 -29.0,
 0.0,
 1.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 53.902041,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 97.0,
 127.0,
 138.0,
 151.0,
 312.0,
 315.0,
 507.0,
 590.0,
 591.0,
 1052.0,
 2030.0,
 2046.0,
 2051.0,
 2057.0,
 2063.0}

In [ ]:
alldb_interest['age'].replace({-5789.0:53.902041,
                            -5441.0:53.902041,
                            -233.0:53.902041,
                            -37.0:53.902041,
                            -32.0:53.902041,
                            -29.0:53.902041,
                            0.0:53.902041,
                            127.0:53.902041,
                            138.0:53.902041,
                            151.0:53.902041,
                            312.0:53.902041,
                            315.0:53.902041,
                            507.0:53.902041,
                            590.0:53.902041,
                            591.0:53.902041,
                            1052.0:53.902041,
                            2030.0:53.902041,
                            2046.0:53.902041,
                            2051.0:53.902041,
                            2057.0:53.902041,
                            2063.0:53.902041},inplace=True)

### ตัดข้อมูลที่สูญหาย

In [ ]:
alldb_drop = alldb_interest.dropna()
alldb_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นางสาว,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นางสาว,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [ ]:
cuts1 = alldb_interest.shape[0] - alldb_drop.shape[0]
print(f'we lost {100*(cuts1/alldb_drop.shape[0])}% of data')
print(f'we still have = {100-(100*(cuts1/alldb_drop.shape[0]))}% of data')

we lost 1.2797846795260839% of data
we still have = 98.72021532047391% of data

###เลือกคอลัมน์ที่ต้องการ

In [ ]:
hospital_interest = hospital[['hcode','name','zone_name','province','amphur','tambon','name5']]
hospital_interest

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
hospital_interest = hospital_interest[(hospital_interest['hcode'].astype(str).str.isdigit()) & (hospital_interest['hcode'].str.len() == 5)] 
hospital_interest

,hcode,name,zone_name,province,amphur,tambon,name5
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
hospital_interest['hcode'] = pd.to_numeric(hospital_interest['hcode'], errors='coerce' )

In [ ]:
hospital_interest['hcode'] = hospital_interest['hcode'].astype('Int64')

In [ ]:
hospital_interest.info() #ตรวจสอบข้อมูล

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17101 entries, 0 to 17102
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   hcode      17101 non-null  Int64
 1   name       17100 non-null  object
 2   zone_name  17097 non-null  object
 3   province   17101 non-null  object
 4   amphur     17099 non-null  object
 5   tambon     16892 non-null  object
 6   name5      17098 non-null  object
dtypes: Int64(1), object(6)
memory usage: 1.1+ MB

In [ ]:
hospital_interest.isnull().any()

hcode        False
name          True
zone_name     True
province     False
amphur        True
tambon        True
name5         True
dtype: bool

In [ ]:
hospital_interest = hospital_interest.fillna(value = {'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ'})

## ตัดข้อมูลสูญหาย

In [ ]:
hospital_drop = hospital_interest.dropna()
hospital_drop

,hcode,name,zone_name,province,amphur,tambon,name5
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
cuts2 = hospital_interest.shape[0] - hospital_drop.shape[0]
print(f'we lost {100*(cuts2/hospital_drop.shape[0])}% of data')
print(f'we still have = {100-(100*(cuts2/hospital_drop.shape[0]))}% of data')

we lost 0.0% of data
we still have = 100.0% of data

##รวมตาราง

In [ ]:
alldb_drop

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47.000000
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นางสาว,41.000000
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นางสาว,55.000000
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66.000000
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041
39813,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041
39814,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041
39815,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041
39816,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041

In [ ]:
hospital_drop

,hcode,name,zone_name,province,amphur,tambon,name5
0,1,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สาขาพื้นที่(ระยอง),สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ,สำนักงานสาธารณสุขจังหวัด
1,2,สำนักงานสาธารณสุขจังหวัดนนทบุรี,สาขาพื้นที่(สระบุรี),นนทบุรี,เมืองนนทบุรี,บางกระสอ,สำนักงานสาธารณสุขจังหวัด
2,3,สำนักงานสาธารณสุขจังหวัดปทุมธานี,สาขาพื้นที่(สระบุรี),ปทุมธานี,เมืองปทุมธานี,บางปรอก,สำนักงานสาธารณสุขจังหวัด
3,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,สาขาพื้นที่(สระบุรี),พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย,สำนักงานสาธารณสุขจังหวัด
4,5,สำนักงานสาธารณสุขจังหวัดอ่างทอง,สาขาพื้นที่(สระบุรี),อ่างทอง,เมืองอ่างทอง,บ้านอิฐ,สำนักงานสาธารณสุขจังหวัด
...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ,ศูนย์สุขภาพชุมชน ของ รพ.
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,สาขาพื้นที่(ราชบุรี),ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี,ศูนย์สุขภาพชุมชน ของ รพ.
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,สาขาพื้นที่(ราชบุรี),ราชบุรี,วัดเพลง,วัดเพลง,ศูนย์สุขภาพชุมชน ของ รพ.
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,สาขาพื้นที่(อุบลราชธานี),ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า,ศูนย์สุขภาพชุมชน ของ รพ.
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,สาขาพื้นที่(ราชบุรี),ราชบุรี,บางแพ,วังเย็น,ศูนย์สุขภาพชุมชน ของ รพ.

In [ ]:
data_alll= alldb_drop.merge(hospital_drop,how='left',left_on='site',right_on='hcode')
data_alll

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age,hcode,name,zone_name,province,amphur,tambon,name5
0,6223,kfpwuaqldj.png,2022-03-23 00:00:00,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,ไม่ระบุ,53.902041,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,สาขาพื้นที่(ขอนแก่น),ขอนแก่น,เมืองขอนแก่น,ในเมือง,โรงพยาบาล นอก สธ.
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30 00:00:00,4,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),1,นางสาว,47.000000,6307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,พิชัย,บ้านดารา,โรงพยาบาลส่งเสริมสุขภาพตำบล
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30 00:00:00,4,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),1,นางสาว,41.000000,5328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,สาขาพื้นที่(ขอนแก่น),กาฬสินธุ์,ฆ้องชัย,โคกสะอาด,โรงพยาบาลส่งเสริมสุขภาพตำบล
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30 00:00:00,3,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),1,นางสาว,55.000000,6302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,สาขาพื้นที่(พิษณุโลก),อุตรดิตถ์,ฟากท่า,สองห้อง,โรงพยาบาลส่งเสริมสุขภาพตำบล
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29 00:00:00,3,"iPhone9,4",5059,12:26:38,ปกติ (เหลืองใส),1,นาย,66.000000,5059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,สาขาพื้นที่(ขอนแก่น),มหาสารคาม,นาดูน,หัวดง,โรงพยาบาลส่งเสริมสุขภาพตำบล
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37892,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11 00:00:00,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,53.902041,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
37893,99999,lnlohgqckf.png,2022-03-10 00:00:00,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,53.902041,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
37894,99999,vkdocpmjiv.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,53.902041,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
37895,99999,vrvyfnvayq.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,<NA>,NaN,NaN,NaN,NaN,NaN,NaN
37896,99999,zuhbtvyrce.png,2022-03-10 00:00:00,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,53.902041,<NA>,NaN,NaN,NaN,NaN,NaN,NaN

# Save ไฟล์

In [ ]:
data_alll.to_csv('data_alll.csv', encoding='utf-8')